section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* -------- HEADER ------- */

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
  color: #404bbf;
}

/* -------- HEADER ------- */

/* -------- PAGE-MAIN ------- */

/* ------ PAGE-MAIN ------*/

/* ------ page-aside Portfolio -----*/

/* .page-aside-list {
  display: flex;
  align-items: center;
  gap: 24px;
} */

/* ------ page-aside Portfolio-----*/

/* ------ team -----*/

/* ------ team -----*/
/* --------FOOTER --------*/

.footer-subs-lbl {
  display: flex;
}

/* --------FOOTER --------*/
